*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
    margin: 0 auto;
    max-width: 85%;
}
nav{
    /* background-color: aqua; */
}
.list-container{
    display: flex;
    list-style: none;
    justify-content: center;
}
.list-items{
    padding: 20px; 
}
.list-items a{
    text-decoration: none;
    color: #333;
}
.list-items:hover{
    background-color:green;
}
.active{
    background-color: green;
}
.sub-menu{
    display: none;
    position: relative;
}
.nav .ul .li{
    display: inline-block;
    /* background-color: green; */
}
nav ul li:hover > ul{
    display: inherit;
}
header{
    border-top: 3px solid green;
}
.hero-container{
    background-image: url(./mompha/stock3.avif) ;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-text{
    padding: 12%;
}
.about-container{
    background: whitesmoke;
    padding: 25px;
    text-align: center;
    line-height: 20px;
}
.about-boxes{
    /* border: 2px solid green; */
    /* height: 250px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 80px 0;
}
.text-boxes{
    /* border: 2px solid green; */
    /* margin: 20px; */
    /* padding: 40px; */
}
.text-boxes h3{
    margin-bottom: 10px;
}
.f-icons{
    font-size: 1.5rem;
    padding: 14px;
    border-radius: 45px;
    background: green;
    color: yellow;
}
.img-responsive{
    padding:15px;
    border-radius: 50%;
    height: 100px;
    width:100px;
}
.fa-solid{
        font-size: 1.5rem;
        padding: 14px;
        border-radius: 50px;
        background: green;
        color: #fff;
}
.about-boxes .text-boxes{
    /* border: 2px solid green; */
    width: 32%;
    padding: 5rem 3rem;
}
.about-boxes .text-boxes{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    width: 30%;
    padding: 80px 50px;
    border-radius: 15px;
}
.about-boxes .text-boxes:hover{
background: green;
transition: ;
}
.btn{
    border-radius: 20px;
    background-color: orange;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: black;
}
.btn:hover{
background-color: white;
}
.hero-text p{
    margin-bottom: 20px;
}
.hero-text h1{
    margin-bottom: 20px;
    color: orange;
}
.hero-text h1:hover{
    color: green;
}
.projects-family{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 80px 0;
}
.projects-gallery{
    border: 0.6rem;
    width: 250px;
}
a{
    text-decoration: none;
}
.services h2{
margin-top: 20px;
}
.Blog-family{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 80px 0;
    width: 100%;
}
.Blog-gallery{
    /* border: 0.6rem; */
    width: 250px;
    height: 50%;
    background-color: whitesmoke;
}
.Blog-family .Blog-sub{
    /* border: 2px solid green; */
    width: 100%;
    /* padding: 5rem 3rem; */
}
.btn_click{
    padding: 5px solid blue;
    justify-content: center;
}
.Blog-container{
    /* background: whitesmoke; */
    padding: 25px;
    text-align: center;
    line-height: 20px;
}
.Blog-title{
    justify-content: space-between;
}
.projects-all{
    background: whitesmoke;
    padding: 30px;
    text-align: center;
    line-height: 20px;  
}
.call-icon{
    font-size: 1rem;
    padding: 5px;
    border-radius: 50%;
    background: green;
    color: #fff;
}
.client-family{
    display: flex;
    height: 580px;
    width: 100%;
    text-align: center;
    padding: 10px;
}
/* .btn2{
    background-color: orange;
    padding: 12px 40px;
    border-radius: 4px;
    margin: 0 0 0 420px;
    border: none;
} */









